/* Mapping Config Module Styles */
.mapping-config-module[open] {
    border: 1px solid var(--custom-green);
    border-radius: var(--radius-xl);
    padding: 16px;
    background-color: var(--gray-50);
}

.mapping-config-module + .mapping-config-module {
    margin-top: 6px;
}

.mapping-config-module summary  {
    color: var(--custom-green);
    font-weight: bold;
}
.form-section.first-form-section {
    margin-top: 20px;
}

.form-section {
    margin-top: 5px;
}

.file-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 5px;
}

.file-row input[type="text"] {
    flex: 1;
    min-width: 80px;
    box-sizing: border-box;
}

.file-row button {
    padding: 5px 10px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
}

.columns > div {
    flex: 1;
    min-width: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.columns > div label {
    flex-shrink: 0;
}

.columns > div input {
    flex: 1;
    min-width: 80px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 15px;
}

.radio-group input[type="radio"] {
    accent-color: var(--custom-green);
}

.radio-group label {
    color: var(--custom-green);
}

.btn-full {
    width: 100%;
    padding: 8px;
}

.btn-full + * {
    margin-top: 10px;
}